* {
	padding: 0;
	margin: 0;
}

body {
	background: url(dc.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 1170px;
	max-height: 1400px;
}

#logoName {
	position: absolute;
	width: 200px;
	height: 200px;
	margin-top: 310px;
	margin-left: 520px;
}

#logoName h1 {
	color: white;
	text-align: center;
	font-size: 40px;
	text-shadow: 1px 1px 1px red;
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: 3px;
}



	#sideBar.active {
		left: 0px;
	}

	#sideBar {
		position: fixed;
		width: 350px;
		height: 100%;
		background: #63cdda;
		border-right: 4px solid #63cdda;
		left: -350px;

		-moz-transition: all 600ms;
		-webkit-transition: all 600ms;
		transition: all 600ms;
	}

	#sideBar ul li:first-child {
		text-align: center;
		color: black;
		font-size: 35px;
		list-style: none;
		padding: 85px 10px 10px 10px;
	}

	#sideBar ul li:not(:first-child) {
		width: 90%;
		margin-left: 10%;
		font-size: 25px;
		list-style: none;
		padding: 15px 10px;
		line-height: 30px;
	}

	#sideBar ul li a {
		color: black;
		text-decoration: none;
		font-family: 'Rajdhani', sans-serif;
		
	}

	#sideBar ul li a:hover {
		color: #EA2027;
	} 

	.menuButton {
		position: absolute;
		left: 370px;
		top: 20px;
		background: #341f97;
		padding: 10px;
		border-radius: 20px;
		cursor: pointer;
	}

	.menuButton span {
		display: block;
		width: 45px;
		height: 8px;
		background: white;
		margin: 4px 0;
	}

#dc {
	width: 700px;
	height: 700px;
	background: rgba(0,0,0,0.7);
	position: absolute;
	margin-left: 320px;
	margin-top: 520px;
}

#info {
	color: #f6e58d;
	font-size: 42px;
	line-height: 72px;

}

#lastDc {
	position: absolute;
	width: 750px;
	height: 500px;
	border: 5px solid gold;
	margin-top: 100px;
}